{{!-- banner --}}
<section class="py-3"
    style="background-image: url('images/background-pattern.jpg');background-repeat: no-repeat;background-size: cover;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="banner-blocks">
                    <div class="banner-ad large bg-info block-1">
                        <div class="swiper main-swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="row banner-content p-5">
                                        <div class="content-wrapper col-md-7">
                                            <div class="categories my-3">100% Tự nhiên</div>
                                            <h3 class="display-4">Nước cam tươi</h3>
                                            <p>Sản phẩm được ưu chuộng nhất hiện nay, có hương vị ngọt thanh pha chút chua nhẹ, giàu vitamin C và khoáng chất, mang đến cảm giác sảng khoái và bổ dưỡng cho cơ thể.</p>
                                            <a href="/product/nuoc-cam"
                                                class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1 px-4 py-3 mt-3">Mua ngay</a>
                                        </div>
                                        <div class="img-wrapper col-md-5">
                                            <img src="https://res.cloudinary.com/dilsgqfex/image/upload/t_nc1/v1741275375/n%C6%B0%E1%BB%9Bc_cam_ev4s7h.png" style="object-fit: contain; width: 100%; height: 100%;">
                                        </div>
                                    </div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="row banner-content p-5">
                                        <div class="content-wrapper col-md-7">
                                            <div class="categories mb-3 pb-3">Nhập khẩu chính hãng</div>
                                            <h3 class="banner-title">Nho đen không hạt</h3>
                                            <p>Một trong những loại trái cây nhập khẩu cao cấp, có hương vị thơm ngon, đồng thời có chất chống oxy hóa, vitamin C, vitamin K và resveratrol, giúp tăng cường sức khỏe tim mạch và làm đẹp da.</p>
                                            <a href="/product/nho"
                                                class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1">Mua ngay</a>
                                        </div>
                                        <div class="img-wrapper col-md-5">
                                            <img src="https://res.cloudinary.com/dilsgqfex/image/upload/v1741277416/nho_aazmxu.png" style="object-fit: contain; width: 100%; height: 100%;">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-pagination"></div>

                        </div>
                    </div>

                    <div class="banner-ad bg-success-subtle block-2"
                        style="background:url('https://res.cloudinary.com/dilsgqfex/image/upload/v1741278084/ad-image-1_qo1xt4.png') no-repeat;background-position: right bottom">
                        <div class="row banner-content p-5">

                            <div class="content-wrapper col-md-7">
                                <div class="categories sale mb-3 pb-3">15-20% off</div>
                                <h3 class="banner-title">Trái cây & Rau củ</h3>
                                <a href="/category/sale/vegetables-fruits?page=1" class="d-flex align-items-center nav-link">Đến xem <svg width="24"
                                        height="24">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg></a>
                            </div>

                        </div>
                    </div>

                    <div class="banner-ad bg-danger block-3"
                        style="background:url('https://res.cloudinary.com/dilsgqfex/image/upload/v1741445162/salad_rau_c%E1%BB%A7_sag138.png') no-repeat right bottom / 50% 50%;">
                        <div class="row banner-content p-5">

                            <div class="content-wrapper col-md-7">
                                <div class="categories sale mb-3 pb-3">15-20% off</div>
                                <h3 class="item-title">Sản phẩm chế biến</h3>
                                <a href="/category/sale/proceed?page=1" class="d-flex align-items-center nav-link">Đến xem <svg width="24"
                                        height="24">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg></a>
                            </div>

                        </div>
                    </div>

                </div>
                <!-- / Banner Blocks -->

            </div>
        </div>
    </div>
</section>

<!-- sản phẩm nổi bật -->
<section class="py-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="bootstrap-tabs product-tabs">
                    <div class="tabs-header d-flex justify-content-between border-bottom my-5">
                        <h3>Sản phẩm nổi bật</h3>
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a href="#" class="nav-link text-uppercase fs-6 active" id="nav-vegetables-tab"
                                    data-bs-toggle="tab" data-bs-target="#nav-vegetables">Rau củ</a>
                                <a href="#" class="nav-link text-uppercase fs-6" id="nav-fruits-tab"
                                    data-bs-toggle="tab" data-bs-target="#nav-fruits">Trái cây</a>
                                <a href="#" class="nav-link text-uppercase fs-6" id="nav-juices-tab"
                                    data-bs-toggle="tab" data-bs-target="#nav-juices">Đồ uống</a>
                                <a href="#" class="nav-link text-uppercase fs-6" id="nav-processed-tab"
                                    data-bs-toggle="tab" data-bs-target="#nav-processed">Sản phẩm chế biến</a>  
                            </div>
                        </nav>
                    </div>
                    <div class="tab-content" id="nav-tabContent">
                        {{!-- tab rau củ --}}
                        <div class="tab-pane fade show active" id="nav-vegetables" role="tabpanel" aria-labelledby="nav-vegetables-tab">
                            <div class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
                                {{#each vegetables}}
                                <div class="col">
                                    <div class="product-item">
                                        {{!-- <span class="badge bg-success position-absolute m-3">-30%</span> --}}
                                        <figure>
                                            <a href="/product/{{this.slug}}" title={{this.name}}>
                                                <img src={{this.image}} alt={{this.name}} class="tab-image">
                                            </a>
                                        </figure>
                                        <h3>{{this.name}}</h3>
                                        <span class="price">{{this.price}} VND</span>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div class="input-group product-qty">
                                                <span class="input-group-btn">
                                                    <button type="button"
                                                        class="quantity-left-minus btn btn-danger btn-number"
                                                        data-type="minus">
                                                        <svg width="16" height="16">
                                                            <use xlink:href="#minus"></use>
                                                        </svg>
                                                    </button>
                                                </span>
                                                <input type="text" id="quantity" name="quantity"
                                                    class="form-control input-number" value="1">
                                                <span class="input-group-btn">
                                                    <button type="button"
                                                        class="quantity-right-plus btn btn-success btn-number"
                                                        data-type="plus">
                                                        <svg width="16" height="16">
                                                            <use xlink:href="#plus"></use>
                                                        </svg>
                                                    </button>
                                                </span>
                                            </div>
                                            <a href="#" class="add-cart">
                                                <svg width="24" height="24">
                                                    <use xlink:href="#cart"></use>
                                                </svg> 
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}                               
                            </div>               
                        </div>
                        {{!-- tab trái cây --}}
                        <div class="tab-pane fade" id="nav-fruits" role="tabpanel" aria-labelledby="nav-fruits-tab">
                            <div class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
                                {{#each fruits}}
                                <div class="col">
                                    <div class="product-item">
                                        {{!-- <span class="badge bg-success position-absolute m-3">-30%</span> --}}
                                        <figure>
                                            <a href="/product/{{this.slug}}" title={{this.name}}>
                                                <img src={{this.image}} alt={{this.name}} class="tab-image">
                                            </a>
                                        </figure>
                                        <h3>{{this.name}}</h3>
                                        <span class="price">{{this.price}} VND</span>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div class="input-group product-qty">
                                                <span class="input-group-btn">
                                                    <button type="button"
                                                        class="quantity-left-minus btn btn-danger btn-number"
                                                        data-type="minus">
                                                        <svg width="16" height="16">
                                                            <use xlink:href="#minus"></use>
                                                        </svg>
                                                    </button>
                                                </span>
                                                <input type="text" id="quantity" name="quantity"
                                                    class="form-control input-number" value="1">
                                                <span class="input-group-btn">
                                                    <button type="button"
                                                        class="quantity-right-plus btn btn-success btn-number"
                                                        data-type="plus">
                                                        <svg width="16" height="16">
                                                            <use xlink:href="#plus"></use>
                                                        </svg>
                                                    </button>
                                                </span>
                                            </div>
                                            <a href="#" class="add-cart">
                                                <svg width="24" height="24">
                                                    <use xlink:href="#cart"></use>
                                                </svg> 
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}                               
                            </div> 
                        </div>
                        {{!-- tab đồ uống --}}
                        <div class="tab-pane fade" id="nav-juices" role="tabpanel" aria-labelledby="nav-juices-tab">
                            <div class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
                                {{#each juices}}
                                <div class="col">
                                    <div class="product-item">
                                        {{!-- <span class="badge bg-success position-absolute m-3">-30%</span> --}}
                                        <figure>
                                            <a href="/product/{{this.slug}}" title={{this.name}}>
                                                <img src={{this.image}} alt={{this.name}} class="tab-image">
                                            </a>
                                        </figure>
                                        <h3>{{this.name}}</h3>
                                        <span class="price">{{this.price}} VND</span>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div class="input-group product-qty">
                                                <span class="input-group-btn">
                                                    <button type="button"
                                                        class="quantity-left-minus btn btn-danger btn-number"
                                                        data-type="minus">
                                                        <svg width="16" height="16">
                                                            <use xlink:href="#minus"></use>
                                                        </svg>
                                                    </button>
                                                </span>
                                                <input type="text" id="quantity" name="quantity"
                                                    class="form-control input-number" value="1">
                                                <span class="input-group-btn">
                                                    <button type="button"
                                                        class="quantity-right-plus btn btn-success btn-number"
                                                        data-type="plus">
                                                        <svg width="16" height="16">
                                                            <use xlink:href="#plus"></use>
                                                        </svg>
                                                    </button>
                                                </span>
                                            </div>
                                            <a href="#" class="add-cart">
                                                <svg width="24" height="24">
                                                    <use xlink:href="#cart"></use>
                                                </svg> 
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}                               
                            </div> 
                        </div>
                        {{!-- tab chế biến --}}
                        <div class="tab-pane fade" id="nav-processed" role="tabpanel" aria-labelledby="nav-processed-tab">
                            <div class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
                                {{#each processed}}
                                <div class="col">
                                    <div class="product-item">
                                        {{!-- <span class="badge bg-success position-absolute m-3">-30%</span> --}}
                                        <figure>
                                            <a href="/product/{{this.slug}}" title={{this.name}}>
                                                <img src={{this.image}} alt={{this.name}} class="tab-image">
                                            </a>
                                        </figure>
                                        <h3>{{this.name}}</h3>
                                        <span class="price">{{this.price}} VND</span>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div class="input-group product-qty">
                                                <span class="input-group-btn">
                                                    <button type="button"
                                                        class="quantity-left-minus btn btn-danger btn-number"
                                                        data-type="minus">
                                                        <svg width="16" height="16">
                                                            <use xlink:href="#minus"></use>
                                                        </svg>
                                                    </button>
                                                </span>
                                                <input type="text" id="quantity" name="quantity"
                                                    class="form-control input-number" value="1">
                                                <span class="input-group-btn">
                                                    <button type="button"
                                                        class="quantity-right-plus btn btn-success btn-number"
                                                        data-type="plus">
                                                        <svg width="16" height="16">
                                                            <use xlink:href="#plus"></use>
                                                        </svg>
                                                    </button>
                                                </span>
                                            </div>
                                            <a href="#" class="add-cart">
                                                <svg width="24" height="24">
                                                    <use xlink:href="#cart"></use>
                                                </svg> 
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}                               
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{!-- sản phẩm bán chạy --}}
<section class="py-5 overflow-hidden">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header d-flex flex-wrap justify-content-between my-5">
                    <h2 class="section-title">Sản phẩm bán chạy</h2>
                    <div class="d-flex align-items-center">
                        <a href="#" class="btn-link text-decoration-none">Xem tất cả →</a>
                        <div class="swiper-buttons">
                            <button class="swiper-prev products-carousel-prev btn btn-primary">❮</button>
                            <button class="swiper-next products-carousel-next btn btn-primary">❯</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="products-carousel swiper">
                    <div class="swiper-wrapper">
                        {{#each bestSellerProducts}}
                        <div class="product-item swiper-slide">
                            <span class="badge bg-success position-absolute m-3">{{this.sale}}%</span>
                            <figure>
                                <a href="/product/{{this.slug}}" title={{this.name}}>
                                    <img src={{this.image}} alt={{this.name}} class="tab-image">
                                </a>
                            </figure>
                            <h3>{{this.name}}</h3>
                            <span class="price">
                                <del >{{this.price}} VND</del> <!-- Giá gốc -->
                                <span >{{this.discountPrice}} VND</span> <!-- Giá đã giảm -->
                            </span>
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="input-group product-qty">
                                    <span class="input-group-btn">
                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number"
                                            data-type="minus">
                                            <svg width="16" height="16">
                                                <use xlink:href="#minus"></use>
                                            </svg>
                                        </button>
                                    </span>
                                    <input type="text" id="quantity" name="quantity" class="form-control input-number"
                                        value="1">
                                    <span class="input-group-btn">
                                        <button type="button" class="quantity-right-plus btn btn-success btn-number"
                                            data-type="plus">
                                            <svg width="16" height="16">
                                                <use xlink:href="#plus"></use>
                                            </svg>
                                        </button>
                                    </span>
                                </div>
                                <a href="#" class="add-cart">
                                    <svg width="20" height="20">
                                        <use xlink:href="#cart"></use>
                                    </svg> 
                                </a>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{!-- sản phẩm mới --}}
<section class="py-5 overflow-hidden">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header d-flex justify-content-between">
                    <h2 class="section-title">Sản phẩm mới về</h2>
                    <div class="d-flex align-items-center">
                        <a href="#" class="btn-link text-decoration-none">Xem tất cả →</a>
                        <div class="swiper-buttons">
                            <button class="swiper-prev products-carousel-prev btn btn-primary">❮</button>
                            <button class="swiper-next products-carousel-next btn btn-primary">❯</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="products-carousel swiper">
                    <div class="swiper-wrapper">
                        {{#each newProducts}}
                        <div class="product-item swiper-slide">
                            <figure>
                                <a href="/product/{{this.slug}}" title={{this.name}}>
                                    <img src={{this.image}} alt={{this.name}} class="tab-image">
                                </a>
                            </figure>
                            <h3>{{this.name}}</h3>
                            <span class="price">
                                {{this.price}} VND
                            </span>
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="input-group product-qty">
                                    <span class="input-group-btn">
                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number"
                                            data-type="minus">
                                            <svg width="16" height="16">
                                                <use xlink:href="#minus"></use>
                                            </svg>
                                        </button>
                                    </span>
                                    <input type="text" id="quantity" name="quantity" class="form-control input-number"
                                        value="1">
                                    <span class="input-group-btn">
                                        <button type="button" class="quantity-right-plus btn btn-success btn-number"
                                            data-type="plus">
                                            <svg width="16" height="16">
                                                <use xlink:href="#plus"></use>
                                            </svg>
                                        </button>
                                    </span>
                                </div>
                                <a href="#" class="add-cart">
                                    <svg width="20" height="20">
                                        <use xlink:href="#cart"></use>
                                    </svg> 
                                </a>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
                <!-- / products-carousel -->

            </div>
        </div>
    </div>
</section>

<section id="latest-news" class="py-5">
    <div class="container-fluid">
        <div class="row">
            <div class="section-header d-flex align-items-center justify-content-between my-5">
                <h2 class="section-title">Tin tức mới nhất</h2>
                <div class="btn-wrap align-right">
                    <a href="/news?page=1" class="d-flex align-items-center nav-link">Xem tất cả <svg width="24"
                            height="24">
                            <use xlink:href="#arrow-right"></use>
                        </svg></a>
                </div>
            </div>
        </div>
        <div class="row">
            {{#each getNewsForHome}}
            <div class="col-md-4">
                <article class="news-item card border-0 shadow-sm p-3">
                    <div class="image-holder zoom-effect">
                        <a href="/news/{{this.slug}}">
                            <img src={{this.image}} alt={{this.slug}} class="card-img-top">
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="news-meta d-flex text-uppercase gap-3 my-2 align-items-center">
                            <div class="meta-date"><svg width="16" height="16">
                                    <use xlink:href="#calendar"></use>
                                </svg>{{formatDate this.updatedAt}}</div>
                        </div>
                        <div class="news-header">
                            <h3 class="news-title">
                                <a href="/news/{{this.slug}}" class="text-decoration-none">{{this.title}}</a>
                            </h3>
                            <p class="truncate-text-home">{{this.content}}</p>
                        </div>
                    </div>
                </article>
            </div>
            {{/each}}
        </div>
    </div>
</section>
